.animation-logo {
  animation: logo-move 1s linear;
}

@keyframes logo-move {
  from {
    transform: translateX(-100%);
    opacity: 0.4;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}