.tree {
  position: absolute;
  right: 0;
  bottom: 0;
  animation: tree-move ease-out 1s;

  @media (max-width: 1450px) {
    width: 450px;
    height: 464px;
  }

  @media (max-width: 1250px) or (max-height: 800px) {
    width: 344px;
    height: 364px;
  }

  @media (max-width: 1000px) {
    display: none;
  }
}

@keyframes tree-move {
  from {
    transform: translateY(100px);
    opacity: 0.4;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
