.people {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(1px, 1px);
  animation: bench-move ease-out 1s;

  @media (max-width: 1450px) {
    width: 850px;
    height: 500px;
  }

  @media (max-width: 1250px) or (max-height: 800px) {
    width: 670px;
    height: 400px;
  }

  @media (max-width: 1000px) {
    display: none;
  }
}

@keyframes bench-move {
  from {
    transform: translate(340px, 20px);
    opacity: 0.4;
  }
  to {
    transform: translate(1px, 1px);
    opacity: 1;
  }
}
